@charset "UTF-8";
/*Importação de fonte(Google Fontes)*/
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Variaveis*/
:root{
    --azul:  #05152b;
    --branco: #fff;
    --beigi: antiquewhite;
    --rosac:#f8b4b1;
    --rosae:#ff8c9d;
    --rosinha:#f2bfbb;
}
/*CSS Reset (Compatibilizar em todos os navegadores) */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
/*Layout*/
body{
    font-family: "Open Sans", sans-serif;
    font-size: 1em; /*1em = 100%(Tamanho padrão)*/
    background-color: var(--rosac);
}
/*Ajuste de tamanho dos lados*/
.container{
    margin: 0 auto; /*centraliza o bloco*/
    display: flex;  
    justify-content: space-between;
    align-items: center;
}
.botao{
    text-decoration: none;
    color: var(--beigi);
    font-size: 1.2em;
    background-color: var(--rosae);
    width: 170px;
    padding: 5px 0px;
    border-radius: 25px;
    align-self: center;
    margin-top: 15px;
    border:2px solid var(--beigi);
}
/*Smartphone Portrait>>>>>>>>>>>>>>>>>>>>>>*/

/*Cabeçalho*/
header{
    height: 80px;
    /*background-color: #ffaeab;*/
}
#logo img{
    width: 70px;
    height: 65px;
    margin: 7px 0px 0px 10px;
}
#check{
    display: none;
}
/*efeito de deslizar o menu.*/
/*se check estiver "ticado", criar um estlio para ul*/
#check:checked~ul{
    right: 0px;
}
label{
    font-size: 2em;
    top: 30px;
    right: 15px;
    position: fixed;
    color: #fff;
}
nav ul{
    height: 100vh; /*100vh =  100% altura da tela*/
    background-color: #ffaeaa94;
    list-style: none; /*remove bullets*/
    width: 65%;
    position: fixed;
    top: 80.1px;
    right: -65%;
    transition: all 0.5s;

}
nav ul li{
    padding: 15px 20px ;
    border-bottom: 1px solid var(--branco);
    text-align: right;
}
nav ul li a{
    color:antiquewhite;
    text-decoration: none;
}

/*Banner*/
main{
    height: 60vh;
    background: url(img/fundo2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
main h1, h2{
    color: var(--branco);
    text-shadow: #000 0.05em 0.05em 0.05em;
}
main h1{
    font-size: 3em;
}
main h2{
    font-size: 1.5em;
    margin-top: 10px;
}
/* >>>>>>>>>>> Destaque >>>>>>>>>> */
#destaque {
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
    background: url(img/fundo.png);
    background-attachment: fixed;
    /* Padding é o espaçamento interno para não
    encostar na porta do dispositivo */
}

/* Atenção!!! Organizando o container após o destaque
o estilo é aplicado apenas ao container da seção de destaque */

#destaque .container{
    flex-direction: column;
    align-items: center;

}
#imagemDestaque img {
    width: 200px;
    height: 175px;
/* arrendondar uma imagem quadrada*/
border-radius: 50%;
}


#textoDestaque {
    color: var(--branco);
}
#textoDestaque h2 {
    margin-bottom: 20px;

}

#textoDestaque>p {
color: var(--branco);
margin-bottom: 15px;
font-size: 1.1em;
}

.topicos {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.topicos img {
    margin-right: 10px;
}

.topico p {
    font-weight: 600;
    font-size: 1.1em;

}
/* para sumir a imagem
#imagemDestaque {
    display: none;
}
*/
#destaque .container {
    flex-direction: column;
    align-items: center;
}
/****** Sobre ******/
/* O estilo abaixo será aplicado apenas ao container que está subordinado a section "sobre" */
#sobre .container {
    flex-direction: column;
}

#sobre {
    padding: 20px 15px;
    background-color: #f6aaa7;
}

#sobre h2, p {
    color: var(--branco);
}

#sobre h2 {
    margin-bottom: 20px;
}
#sobre p {
    font-size: 1.1em;
}

#video iframe {
    width: 277px;
    height: 191px;
    margin-top: 20px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Smartphone Landscape>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    /*Cabeçalho*/
    #logo img{
        margin: 6px 0px 0px 10px ;
    }
    .container{
        max-width: 540px;
        /*margin: 0 auto;*/
    }
    nav ul {
        right: -25%;
        width: 25%;
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 3em;
    }
    #destaque .container {
        flex-direction: row;
    }
    #imagemDestaque {
        margin-right: 50px;
    }
    #imagemDestaque img {
        width: 256px;
        height: 220px;
    }
    /****** Sobre ******/
    #video iframe {
        width: 440px;
        height: 310px;
    }
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Tablet Portrait>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
    /**Cabeçalho*/
    .container{
        max-width: 720px;
        /*background-color: #ffaeaae8;*/
    }
    header{
        height: 120px;

    }
    #logo img{
        width: 115px;
        height: 110px;
    }

    nav ul{
        top: 120px;
        width:  50%;
        right: -50%;
    }
    main{
        height: 67vh;
    }

    main h1{
        font-size: 4em ;
    }
    main h2{
        font-size: 1.7em ;
    }

    main .botao{
        font-size: 1.6em;
        width: 200px;
    }

    
    #imagemDestaque img {
        width: 285px;
        height: 265px;
    }
    #textoDestaque h2 {
        margin-bottom: 20px;
        font-size: 2em ;
    
    }
    
    #textoDestaque>p {
    color: var(--branco);
    margin-bottom: 15px;
    font-size: 1.5em ;
    }

    .topicos{
    font-size: 1.4em ;  
    }
    #sobre h2 {
        font-size: 2em;
    }
    #sobre p {
        font-size: 1.5em;
    }

}  

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Tablet Landscape>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    /*Cabeçalho*/
    .container{
        max-width: 960px;
        /*background-color: #ffaeaae8;*/
    }
    main h1{
        font-size: 4em ;
    }
    main h2{
        font-size: 1.7em ;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Pcs/ Notebooks>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1230px) {
    .container{
        max-width: 1140px;
        /*background-color: #ffaeaae8;*/
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header{
        height: 105px;
    }
    #logo img{
        width: 80px;
        height: 80px;
    }
    /*Transformação do menu*/
    label{
        display: none;
    }
    nav ul{
        width: 100%;
        height: auto;
        position: static;
        background-color: transparent;
    }
    nav ul li{
        float: left;
        border: 0;
    }
    nav ul li a {
        color: antiquewhite;
        font-size: 1.2em;
    }
    nav ul li a:hover {
        color: var(--branco);
    }
   main h1{
        font-size: 6em ;
    }
    #destaque {
        background-attachment: fixed;
    }
    /******* Sobre ******/
    #sobre .container {
        flex-direction: row;
        align-items: center;
    }
    #sobre h2 {
        margin-bottom: 20px;
    }
    #sobre p {
        font-size: 1.4em;
    }

    #video iframe {
        margin: 0;
        width: 450px;
        height: 250px;    
    }
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Telas FullHD/4k/SmartTV>>>>>>>>>>>>>>>>>>>>>*/
@media( min-width: 1420px) {
    .container{
        max-width: 1360px;
       /* background-color: #ffaeaae8;*/
    }
    header{
        height: 101px;
    }
    #logo img{
        width: 80px;
        height: 80px;
    }
    nav ul li a {
        font-size: 1.2em;
    }
    main h1{
        font-size: 4em ;
    }
    main h2{
        font-size: 1.8em ;
    }
    main .botao{
        font-size: 1.3em;
        width: 175px;
    }
    #imagemDestaque img {
        width: 290px;
        height: 250px;
    /* arrendondar uma imagem quadrada*/
        border-radius: 50%;
    }
    #textoDestaque h2 {
        margin-bottom: 20px;
        font-size: 2em ;
    
    }
    
    #textoDestaque>p {
        color: var(--branco);
        margin-bottom: 15px;
        font-size: 1.1em ;
    }
    
    .topicos{
        font-size: 1.0em ;
    }
    #sobre p {
        font-size: 1.1em;
    }
    
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
